@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*-----------------------------------------------------------------------------/
    General
/-----------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #420202, #630c0c);
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.banner {
    position: relative;
    /* width: 1000px;
    height: 562px; */
    /* width: 900px;
    height: 506px; */
    width: 800px;
    height: 450px;
    transform-style: preserve-3d;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-----------------------------------------------------------------------------/
    Banner Layers
/-----------------------------------------------------------------------------*/
.banner__layer {
    position: absolute;
    width: 100%;
    transform-style: preserve-3d; 
    transform: translateZ(0px);
    transition: 0.7s;
    z-index: 4;
}

.banner__layer-00 {
    box-shadow: 0px 0px 20px rgb(37, 0, 0);
}

.banner__layer-06,
.banner__layer-08 {
    opacity: 0.5;
}

.banner__layer-24 {
    opacity: 0.9;
}

.banner__layer-25 {
    z-index: 10;
}


/*-----------------------------------------------------------------------------/
    Hover
/-----------------------------------------------------------------------------*/

.banner:hover .banner__layer-00 {
    transform-style: preserve-3d; 
    transform: translateZ(0px);
}
.banner:hover .banner__layer-01 {
    transform-style: preserve-3d; 
    transform: translateZ(40px);
}
.banner:hover .banner__layer-02 {
    transform-style: preserve-3d; 
    transform: translateZ(60px);
}
.banner:hover .banner__layer-03 {
    transform-style: preserve-3d; 
    transform: translateZ(80px);
}
.banner:hover .banner__layer-04 {
    transform-style: preserve-3d; 
    transform: translateZ(100px);
}
/* Red Right */
.banner:hover .banner__layer-06 {
    transform-style: preserve-3d; 
    transform: translateZ(30px);
}
/* Red Left */
.banner:hover .banner__layer-08 {
    transform-style: preserve-3d; 
    transform: translateZ(30px);
}
.banner:hover .banner__layer-09 {
    transform-style: preserve-3d; 
    transform: translateZ(60px);
}
.banner:hover .banner__layer-10 {
    transform-style: preserve-3d; 
    transform: translateZ(60px);
}
.banner:hover .banner__layer-11 {
    transform-style: preserve-3d; 
    transform: translateZ(300px);
}
.banner:hover .banner__layer-12 {
    transform-style: preserve-3d; 
    transform: translateZ(50px);
}
.banner:hover .banner__layer-13 {
    transform-style: preserve-3d; 
    transform: translateZ(220px);
}
.banner:hover .banner__layer-14 {
    transform-style: preserve-3d; 
    transform: translateZ(40px);
}
.banner:hover .banner__layer-15 {
    transform-style: preserve-3d; 
    transform: translateZ(100px);
}
/* website */
.banner:hover .banner__layer-17 {
    transform-style: preserve-3d; 
    transform: translateZ(180px);
}
/* 27 July */
.banner:hover .banner__layer-19 {
    transform-style: preserve-3d; 
    transform: translateZ(120px);
}
/* Sunday */
.banner:hover .banner__layer-20 {
    transform-style: preserve-3d; 
    transform: translateZ(80px);
}
/* Now */
.banner:hover .banner__layer-21 {
    transform-style: preserve-3d; 
    transform: translateZ(100px);
}
/* Join */
.banner:hover .banner__layer-22 {
    transform-style: preserve-3d; 
    transform: translateZ(80px);
}
/* Championship */
.banner:hover .banner__layer-23 {
    transform-style: preserve-3d; 
    transform: translateZ(120px);
}
/* Rugby */
.banner:hover .banner__layer-24 {
    transform-style: preserve-3d; 
    transform: translateZ(60px);
}
/* Image */
.banner:hover .banner__layer-25 {
    transform-style: preserve-3d; 
    transform: translateZ(220px);
}
/* logo */
.banner:hover .banner__layer-26 {
    transform-style: preserve-3d; 
    transform: translateZ(160px);
}
.banner:hover .banner__layer-27 {
    transform-style: preserve-3d; 
    transform: translateZ(180px);
}


.title-top {
    position: absolute;
    translate: middle;
    top: 10px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    opacity: 0.4;
}

@media (max-width: 900px) {
    .banner {
        /* width: 90%; */
    }

    .banner__title-1 {
        font-size: 218px;
        top: 22.5%;
        left: 21%;
        letter-spacing: 5px;
    }

    .banner__title-2 {
        font-size: 103px;
        top: 62%;
        left: 20%;
    }

@media (max-width: 768px) {
    .banner__title-1 {
        font-size: 185px;
        top: 30%;
        left: 22%;
        letter-spacing: 5px;
    }
    .banner__title-2 {
        font-size: 85px;
        top: 64%;
        left: 22%;
    }
}

@media (max-width: 445px) {
    .banner__title-1 {
        font-size: 106px;
        top: 38.5%;
        left: 23%;
        letter-spacing: 2px;
    }
    .banner__title-2 {
        font-size: 49px;
        top: 57.5%;
        left: 23%;
    }
}

@media (max-width: 360px) {
    .banner__title-1 {
        font-size: 84px;
        top: 40.5%;
        left: 23%;
        letter-spacing: 2px;
    }
    .banner__title-2 {
        font-size: 38px;
        top: 56.5%;
        left: 23%;
    }
}
